// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#container {
  /*border: 1px solid black;*/
  display: inline-block;
  position: absolute;
  z-index: -5;
  right: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
}

#vsButton {
  /*border: 1px solid black;*/
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 8em;
  font-family: 'bangers';
  color: rgba(0, 0, 0, 0.7);
}

#line {
  border: 1px solid white;
  position: absolute;
  z-index: 0;
  width: 70%;
  height: 2px;
  border-radius: 5px;
  background-color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

#timer {
  /*border: 1px solid white;*/
  position: absolute;
  font-family: 'bangers';
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 4em;
  color: white;
}

#leftUsernameBox {
  /*border: 1px solid black;*/
  width: 80%;
  height: 10%;
  position: absolute;
  right: 15%;
  top: 5%;
  font-size: 4em;
  text-align: right;
  color: #A4DE66;
  color: white;
  font-family: 'bangers';
  text-transform: uppercase;
}

#rightUsernameBox {
  /*border: 1px solid black;*/
  width: 80%;
  height: 10%;
  position: absolute;
  left: 15%;
  top: 5%;
  font-size: 4em;
  text-align: left;
  color: white;
  font-family: 'bangers';
  /*color: #6AD6FD;*/
  text-transform: uppercase;
}

#leftContainer {
  background-color: #6AD6FD;
  /*border: 1px solid red;*/
  position: absolute;
  z-index: -1;
  left: 0;
  width: 50%;
  height: 100%;
    #leftProfilePic {
      /*border: 1px solid black;*/
      box-shadow: 0 0 50px 0px white;
      border-radius: 20px;
      position: absolute;
      top: 25%;
      left: 5%;
      height: 57%;
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    #leftDescriptionBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      font-family: 'fjalla one';
      left: 5%;
      bottom: 0%;
      height: 15%;
      width: 45%;
      text-align: center;
      font-size: 100%;
      color: black;
      padding: 10px;
      overflow: scroll;
    }
    #leftRecordBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      color: rgba(0, 0, 0, 0.7);
      font-family: 'bangers';
      top: 13%;
      right: 20%;
      height: 5%;
      width: 80%;
      text-align: right;
    }
    #leftVoteBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      right: 0%;
      top: 30%;
      width: 25%;
      height: 20%;
      text-align: center;
      font-size: 4em;
      color: white;
        #voteTotalLeft {
          /*border: 1px solid black;*/
          position: absolute;
          right: 30%;
          top: 30%;
      font-family: 'bangers';
        }
        .voteFormLeft {
          position: absolute;
          top: 60%;
          right: 25%;
        }
    }
}

#rightContainer {
  /*border: 1px solid green;*/
  background-color: #A4DE66;
  position: absolute;
  z-index: -1;
  right: 0;
  width: 50%;
  height: 100%;
    #rightProfilePic {
      /*border: 1px solid black;*/
      box-shadow: 0 0 50px 0px white;
      border-radius: 20px;
      position: absolute;
      top: 25%;
      right: 5%;
      height: 57%;
      width: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    #rightDescriptionBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      font-family: 'fjalla one';
      right: 5%;
      bottom: 0%;
      height: 15%;
      width: 45%;
      text-align: center;
      font-size: 100%;
      color: black;
      padding: 10px;
    }
    #rightRecordBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      font-family: 'bangers';
      color: rgba(0, 0, 0, 0.7);
      top: 13%;
      left: 20%;
      height: 5%;
      width: 80%;
      text-align: left;
    }
    #rightVoteBox {
      /*border: 1px solid black;*/
      display: inline-block;
      position: absolute;
      left: 0%;
      top: 30%;
      width: 25%;
      height: 20%;
      text-align: center;
      font-size: 4em;
      color: white;
        #voteTotalRight {
          /*border: 1px solid black;*/
          position: absolute;
          left: 30%;
          top: 30%;
      font-family: 'bangers';
        }
        .voteFormRight {
          position: absolute;
          top: 60%;
          left: 25%;
        }
    }
}

#commentsContainer {
  display: none;
}

.commentBox {
  display: none;
}

.voteForm {
  display: none;
}

#rightVoteButton {
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 20px 0px black;
  background-color: #A4DE66;
  position: relative;
  left: 40%;
  border-radius: 5px;
  width: 100px;
  font-family: 'fjalla one';
  font-size: .2em;
}

#leftVoteButton {
  border: 1px solid white;
  color: white;
  box-shadow: 0 0 20px 0px black;
  background-color: #6AD6FD;
  position: relative;
  right: 40%;
  border-radius: 5px;
  width: 100px;
  font-family: 'fjalla one';
  font-size: .2em;
}

.roastFormRight {
  font-family: 'fjalla one';
  text-align: right;
  color: white;
  margin-bottom: 20px;
    #content {
      border-radius: 5px;
      width: 80%;
      background-color: #A4DE66;
    }
    #submit {
      font-family: 'fjalla one';
      border-radius: 5px;
      background-color: #A4DE66;
      color: black;
    }
}

.roastFormLeft {
  font-family: 'fjalla one';
  color: white;
  text-align: left;
  padding-left: 10px;
  margin-bottom: 20px;
    #content {
      border-radius: 5px;
      width: 80%;
      background-color: #6AD6FD;
    }
    #submit {
      font-family: 'fjalla one';
      border-radius: 5px;
      background-color: #6AD6FD;
      color: black;
    }
}

/*#content {
  border-radius: 5px;
  background-color:
}*/

#commentsContainer {
  /*border: 1px solid red;*/
  box-shadow: 0 0 50px 0px white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  /*border-top-right-radius: 10px;*/
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 40%;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%);
  overflow-y: scroll;
    #roastCommentsTable {
      /*border: 1px solid red;*/
      width: 100%;
      /*height: 400px;*/
    }

    .comment {
      max-width: 60%;
    }
    #leftCommentRow {
      text-align: left;
    }
    #rightCommentRow {
      /*border: 1px solid red;*/
      text-align: right;
    }
    #leftComment {
      /*border: 1px solid black;*/
      /*display: inline-block;*/
      border-radius: 10px;
      background-color: #6AD6FD;
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      float: left;
      font-family: 'fjalla one';
    }
    #rightComment {
      /*border: 1px solid black;*/
      /*display: inline-block;*/
      border-radius: 10px;
      background-color: #A4DE66;
      padding-right: 10px;
      padding-left: 10px;
      text-align: center;
      float: right;
      font-family: 'fjalla one';
    }
    .leftUsername {
      /*border: 1px solid black;*/
      color: white;
      text-transform: uppercase;
      display: inline-block;
      float: left;
      /*font-family: 'bangers';*/
      font-family: 'fjalla one';
    }
    .rightUsername {
      /*border: 1px solid black;*/
      color: white;
      text-transform: uppercase;
      display: inline-block;
      float: right;
      /*font-family: 'bangers';*/
      font-family: 'fjalla one';
    }
}