// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topProfileContainer {
  background-color: #6AD6FD;
  /*border: 1px solid red;*/
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 50%;
}

#bottomProfileContainer {
  background-color: #A4DE66;
  /*border: 1px solid red;*/
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 50%;
}

#profileBox {
  /*border: 1px solid black;*/
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 30%;
  max-height: 100%;
    h1 {
      font-family: "bangers";
      color: white;
      font-size: 4em;
    }
    img {
      box-shadow: 0 0 50px 0px white;
      border-radius: 20px;
      position: relative;
      margin-top: -5%;
      height: 300px;
      width: 250px;
    }
    h3 {
      font-family: "bangers";
      color: black;
      font-size: 2em;
    }
    p {
      font-family: "fjalla one";
      position: relative;
      margin-top: -8%;
    }
}

#editProfileBox {
  /*border: 1px solid black;*/
  display: inline-block;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 40%;
  max-height: 100%;
    h1 {
      font-family: "bangers";
      color: black;
      font-size: 4em;
    }
    img {
      box-shadow: 0 0 50px 0px white;
      border-radius: 20px;
      position: relative;
      margin-top: -5%;
      height: 250px;
      width: 250px;
    }
}

.edit_profile {
  font-family: "bangers";
  font-size: 2em;
  text-align: left;
}
/*#usernameLabel {
  position: relative;
  margin-left: 35%;
}*/

#profile_username {
  background-color: #6AD6FD;
  border: 1px solid gray;
  text-align: center;
  font-family: "fjalla one";
  font-size: 0.5em;
  width: 100%;
  border-radius: 5px;
  height: 25px;
}

#profile_description {
  background-color: #6AD6FD;
  font-family: "fjalla one";
  font-size: 0.5em;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  position: relative;
}

#updateButton {
  box-shadow: 0 0 10px 0px black;
  background-color: #6AD6FD;
  border: 2px solid black;
  width: 200px;
  font-family: "fjalla one";
  font-size: 0.5em;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#profile_profilepic {
  position: relative;
  margin-left: 28%;
}

.login {
  font-family: "bangers";
  color: white;
  font-size: 5em;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

#forgotLink {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  font-family: "bangers";
  color: white;
  font-size: 2em;
  text-align: center;
}

.field {
  font-family: "bangers";
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%);
  /*border: 1px solid black;*/
  text-align: center;
    #user_email {
/*      position: absolute;
      top:0;
      right: 0;*/
    }
    #loginButton {
      position: absolute;
      bottom: -30%;
      left: 50%;
      transform: translate(-50%);
      background-color: #A4DE66;
      font-family: "bangers";
      color: white;
      width: 60%;
      height:25%;
      font-size: 1em;
      border-radius: 5px;
    }
}